{{- $machineClass := promptStringOnce . "machineClass" "Machine class (work/personal)" -}}
{{ if eq $machineClass "work" }}
scriptTempDir = "{{ .chezmoi.homeDir }}/.local/state/chezmoi-scripts"
{{ end -}}
[data]
    machineClass = {{ $machineClass | quote }}
